.item-enter {
  //opacity: 0;
  transform: translateX(100%);
}
.item-enter-active {
  transform: translateX(0);
  //opacity: 1;
  //transition: opacity 500ms ease-in;
  transition: transform 500ms ease-in;
}
.item-exit {
  transform: translateX(0);
  //opacity: 1;
}
.item-exit-active {
  transform: translateX(100%);
  //opacity: 0;
  //transition: opacity 500ms ease-in;
  transition: transform 500ms ease-in;
}
